# Prerequisites
*.d

# Object files
*.o
*.ko
*.obj

# Linker output
*.ilk
*.map
*.exp

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

# Debug files
*.dSYM/
*.su
*.idb
*.pdb

# Kernel Module Compile Results
*.mod*
*.cmd
.tmp_versions/
modules.order
Module.symvers
Mkfile.old
dkms.conf

# debug information files
*.dwo


# Output files from Build
*.tar.gz
*.gz
*.zip
linux-image/
linux-x86-softfp/
riscv32/
softfloat/
sha1sum-linux-image
sha1sum-linux-x86-softfp
sha1sum-riscv32
doomrc
DOOM1.WAD
EOF

# IDE
.vscode/
.dumpid